<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
		<add key="Main.ConnectionString" value="data source=DESKTOP-RNDKPMC;initial catalog=QuyetToanVCG_TDC_2021;integrated security=SSPI;persist security info=False;packet size=4096" />
	</appSettings>
</configuration>